<div class="container">
  <div class="bookings">
    <h1 class="booking-id">予約 No. <%= @booking.id %>　:　編集 </h1>
    
    <div class="request-form">
      <%= form_with(model: @booking, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group request">
          <div class="form-left">
            <%= f.label :status, "ステータス" %>
          </div>
            <%= f.select :status, {'未対応': '未対応', '対応中': '対応中', '対応済': '対応済'}, { include_blank: '選択してください'} %>
        </div>
        <div class="form-group request">
          <div class="form-left">
            <%= f.label :departure_date, "出発日" %>
          </div>
            <%= f.date_field :departure_date %>
        </div>
        <div class="form-group request">
          <div class="form-left">
            <%= f.label :airplane_grade, "飛行機追加料金" %>
          </div>
            <%= f.text_field :airplane_grade %>
        </div>
        <div class="form-group request">
          <div class="form-left">
            <%= f.label :hotel_grade, "ホテル追加料金" %>
          </div>
            <%= f.text_field :hotel_grade %>
        </div>
        <div class="form-group request">
          <div class="form-left">
            <%= f.label :remarks_column, "備考欄" %>
          </div>
            <%= f.text_area :remarks_column %>
        </div>
         
        <%= f.submit "編集", class: "btn btn-warning btn-block" %>
      <% end %>
    </div>
  </div>
</div>