<div class="conditional-search">
  <h1 class="heading">条件から探す</h1>
  <div class="conditional-search-field background">
    <div class="conditional">
      <%= form_tag(search_tours_path, method: :get) do %>
        <div class="input-select">
          <div class="form-group">
            <%= label_tag '出発地' %>
            <%= select_tag 'departure', options_for_select({'東京': '東京', '名古屋': '名古屋', '大阪': '大阪', '福岡': '福岡'}), include_blank: '出発地をお選びください' %>
          </div>
          <div class="form-group">
            <%= label_tag '目的地' %>
            <%= select_tag 'city', options_for_select({'上海': '上海', '台北': '台北', 'ソウル': 'ソウル', '釜山': '釜山', 'バンコク': 'バンコク', 'プーケット': 'プーケット', 'チェンマイ': 'チェンマイ', 'ホーチミン': 'ホーチミン', 'ハノイ': 'ハノイ', 'ダナン': 'ダナン', 'シンガポール': 'シンガポール', 'クアラルンプール': 'クアラルンプール', 'マニラ': 'マニラ'}), include_blank: '目的地をお選びください' %>
          </div>
          <div class="form-group">
            <%= label_tag '旅行日数'%>
            <%= select_tag 'length_of_stay', options_for_select({'2日間': 2, '3日間': 3, '4日間': 4, '5日間': 5, '6日間': 6, '7日間': 7}), include_blank: '旅行日数をお選びください' %>
          </div>
        </div>
        <p>※何も選択していない場合、全ツアーを表示します</p>
        <div class="search-btn">
          <%= submit_tag 'この条件で検索', class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>