<div class="container">
  <div class="tab-all">
    <ul class="nav nav-tabs tabs mt-5">
      <li class="nav-item"><a href="<%= tours_path(@tours) %>" class="nav-link" >東京発</a></li>
      <li class="nav-item"><a href="<%= nagoya_tours_path(@tours) %>" class="nav-link" >名古屋発</a></li>
      <li class="nav-item"><a href="<%= osaka_tours_path(@tours) %>" class="nav-link" >大阪発</a></li>
      <li class="nav-item"><a href="<%= fukuoka_tours_path(@tours) %>" class="nav-link" >福岡発</a></li>
      <% if logged_in? %>
        <% if current_user == @user || current_user.admin? %>
          <li class="nav-item"><a href="<%= new_tour_path(@tour) %>" class="nav-link active" >ツアー投稿</a></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="admin">
    <div class="admin-area background">
      <% if logged_in? %>
        <% if current_user == @user || current_user.admin? %>
          
          <%= form_with(model: @tour, url: new_tour_path, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :tour_name, "ツアー名" %>
              </div>
                <%= f.text_field :tour_name %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :image, "イメージ画像" %>
              </div>
                <%= f.file_field :image %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :number_of_night, "宿泊日数" %>
              </div>
                <%= f.select :number_of_night, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6}, { include_blank: '選択してください'} %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :length_of_stay, "滞在日数" %>
              </div>
                <%= f.select :length_of_stay, {'2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7}, { include_blank: '選択してください'} %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :departure, "出発地" %>
              </div>
                <%= f.select :departure, {'東京': '東京', '名古屋': '名古屋', '大阪': '大阪', '福岡': '福岡'}, { include_blank: '選択してください'} %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :arrival, "目的地（国）" %>
              </div>
                <%= f.select :arrival, {'中国': '中国', '台湾': '台湾', '韓国': '韓国', 'タイ': 'タイ', 'ベトナム': 'ベトナム', 'シンガポール': 'シンガポール', 'マレーシア': 'マレーシア', 'フィリピン': 'フィリピン'}, { include_blank: '選択してください'} %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :city, "目的地（都市）" %>
              </div>
                <%= f.select :city, {'上海': '上海', '北京': '北京', '台北': '台北', 'ソウル': 'ソウル', '釜山': '釜山', 'バンコク': 'バンコク', 'プーケット': 'プーケット', 'チェンマイ': 'チェンマイ', 'ホーチミン': 'ホーチミン', 'ハノイ': 'ハノイ', 'ダナン': 'ダナン', 'シンガポール': 'シンガポール', 'クアラルンプール': 'クアラルンプール', 'マニラ': 'マニラ'}, { include_blank: '選択してください'} %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :base_price, "基本料金" %>
              </div>
                <%= f.text_field :base_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :airplane_b_price, "飛行機追加料金(B)" %>
              </div>
                <%= f.text_field :airplane_b_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :airplane_c_price, "飛行機追加料金(C)" %>
              </div>
                <%= f.text_field :airplane_c_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :airplane_d_price, "飛行機追加料金(D)" %>
              </div>
                <%= f.text_field :airplane_d_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :hotel_b_price, "ホテル追加料金(B)" %>
              </div>
                <%= f.text_field :hotel_b_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :hotel_c_price, "ホテル追加料金(C)" %>
              </div>
                <%= f.text_field :hotel_c_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :hotel_d_price, "ホテル追加料金(D)" %>
              </div>
                <%= f.text_field :hotel_d_price %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :recommend_point, "おすすめポイント" %>
              </div>
              <%= f.text_area :recommend_point %>
            </div>
            <div class="form-group">
              <div class="form-left">
                <%= f.label :schedule, "スケジュール" %>
              </div>
                <%= f.text_area :schedule, value:
  "【１日目】
                
      　○○発 → ○○着
      　（※出発日や飛行機によって時間は異なります）
                
      　到着後、ご自身にてホテルへ
        （※チェックインの時間はホテルによって異なります）
                
    【日目】
                
      　終日自由行動
                
    【日目】
                
      　ご自身にて空港へ
                
      　○○発 → ○○着
      　（※出発日や飛行機によって時間は異なります）
                
      　到着後、解散" %>
            </div>
    
            <%= f.submit "投稿", class: 'btn btn-warning btn-block' %>
    
          <% end %>
    
        <% end %>
      <% end %>
    </div>
  </div>
</div>