<div class="wrapper">
  <% if logged_in? %>
    <% if current_user == @user || current_user.admin? %>
      <div class="admin-btn text-right">
        <%= link_to '編集', edit_tour_path(@tour), class: 'btn btn-original background' %>
        <%= link_to '削除', @tour, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-original' %>
      </div>
    <% end %>
  <% end %>
  
  <h1 class="tour-name"><%= @tour.tour_name %></h1>
  <%= image_tag(@tour.image.url, class: "tour-image") %>

  <div class="overview">
    <div class="tour-price-area">
      <p class="tour-price">ツアー料金</p>
      <p class="price-range"><%= @tour.base_price.to_s(:delimited) %> 〜 <%= (@tour.base_price + @tour.airplane_d_price + @tour.hotel_d_price).to_s(:delimited)  %>円</p>
    </div>
    
    <div class="overview-area">
      <div class="overview-area-left">
        <table class="table table-bordered table-top">
          <tbody>
            <tr>
              <th scope="row">出発地</th>
              <td>　<%= @tour.departure %></td>
            </tr>
            <tr>
              <th scope="row">目的地</th>
              <td>　<%= @tour.city %></td>
            </tr>
            <tr>
              <th scope="row">日数</th>
              <td>　<%= @tour.number_of_night %>泊<%= @tour.length_of_stay %>日</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="overview-area-right">
        <%= render 'considerations/consider_button', tour: @tour %>
        <%= link_to 'ツアーに申し込む', new_tour_booking_path(@tour), class: 'btn btn-warning' %>
      </div>
    </div>
  </div>

    <ul class="nav nav-tabs mt-5 tab">
      <li class="nav-item"><a href="#tab1" data-toggle="tab" class="nav-link active">旅行代金</a></li>
      <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">おすすめ</a></li>
      <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">旅行日程表</a></li>
      <li class="nav-item"><a href="#tab4" class="nav-link" data-toggle="tab">ご案内</a></li>
    </ul>

    <div class="tab-content detail">
      <div class="tab-pane active" id="tab1">
        <div class="grade airplane-grade">
          <p>基本料金 <%= @tour.base_price.to_s(:delimited) %>円</p>
          <div class="table-airplane">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">飛行機グレード</th>
                  <th scope="col">追加料金</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>　A : LCC (預け荷物なし)</th>
                  <td>　+0円</td>
                </tr>
                <tr>
                  <td>　B : LCC (預け荷物あり)</th>
                  <td>　+<%= @tour.airplane_b_price.to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <td>　C : エコノミー (預け荷物あり)</th>
                  <td>　+<%= @tour.airplane_c_price.to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <td>　D : ビジネス (預け荷物あり)</th>
                  <td>　+<%= @tour.airplane_d_price.to_s(:delimited) %>円</td>
                </tr>
              </tbody>  
            </table>
          </div>
        </div>

        <div class="grale hotel-grade">
          <div class="table-hotel">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ホテルグレード</th>
                  <th scope="col">追加料金</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>　A : ホステル</th>
                  <td>　+0円</td>
                </tr>
                <tr>
                  <td>　B : ホテル (★ 〜 ★★)</th>
                  <td>　+<%= @tour.hotel_b_price.to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <td>　C : ホテル (★★★ 〜 ★★★★)</th>
                  <td>　+<%= @tour.hotel_c_price.to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <td>　D : ホテル (★★★★★)</th>
                  <td>　+<%= @tour.hotel_d_price.to_s(:delimited) %>円</td>
                </tr>
              </tbody>  
            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane tab-recommend" id="tab2">
        <div class="recommend-area background">
          <%= simple_format(@tour.recommend_point) %>
        </div>
      </div>

      <div class="tab-pane tab-schedule" id="tab3">
        <div class="schedule-area background">
          <%= simple_format(@tour.schedule) %>
        </div>
      </div>

      <div class="tab-pane tab-information" id="tab4">
        <div class="information-area background">
          <%= render 'tours/information' %>
        </div>
      </div>
    </div>
  </div>
</div>